<footer class="main-footer">
  <div class="footer-license-wrapper">
    <a class="license" href="https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE" title="View the license for this site and it's content"><small>All content is copyright &copy; {{ site.start-year }} - {{ site.time | date: '%Y' }} Matthew Grey, any trademarks are property of their respective owners</small></a>
  </div>
  <div class="created-by-wrapper">
    <a class="created-by" href="https://github.com/rshircliff">Another one</a>
  </div>
</footer>
